<% comments.each do |comment| %>
  <div class="media box">
    <div class="media-left has-text-centered">
      <img class="image is-64x64 m-auto" src="<%= comment.user.profile_picture_url %>" />
      <p>Likes: <%= comment.likes.count %></p>
      <%= render "shared/like_button", model: comment, size: "is-small" %>
    </div>
    <div class="media-content">
      <p class="title is-4 mb-1"><a href="<%= user_path(comment.user)%>">@<%= comment.user.name %></a></p>
      <% if comment.commentable_type == "Post" %>
        <%= link_to ">> " + comment.commentable.title[..20], post_url(comment.commentable), class: "has-text-6 has-background-dark" %>
      <% end %>
      <p class="subtitle is-5"><%= comment.body %></p>
    </div>
  </div>
<% end %>
