<% users.each do |user| %>
  <article class="media box">
    <div class="media-left has-text-centered">
      <img class="image is-64x64 m-auto" src="<%= user.profile_picture_url %>" />
      <% unless user == current_user %>
        <div data-controller="followings" data-followings-following-value="<%= user.has_follower?(current_user) %>">
          <%= button_to "Unfollow",
            user_followings_path(follower_id: current_user.id, following_id: user.id),
            method: :delete,
            class: "button is-small mt-1",
            data: { followings_target: "unfollowBtn", action: "followings#unfollow" }
          %>
          <%= button_to "Follow",
            user_followings_path(follower_id: current_user.id, following_id: user.id),
            method: :create,
            class: "button is-small mt-1",
            data: { followings_target: "followBtn", action: "followings#follow" }
          %>
        </div>
      <%end%>
    </div>
    <div class="media-content">
      <p class="title is-5"><a href="<%= user_path(user)%>">@<%= user.name %></a></p>
      <p class="subtitle is-6"><%= user.bio %></p>
      <p>
        <span>Posts: <%= user.posts.count %>,</span>
        <span>Comments: <%= user.comments.count %></span>
      </p>
    </div>
  </article>
<% end %>
