<div class="container p-6">
  <h2 class="title is-2">Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <p><%= f.label :email, class: "label is-medium" %></p>
      <p><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input is-medium"  %></p>
    </div>

    <div class="field">
      <p><%= f.label :password, class: "label is-medium" %></p>
      <p><%= f.password_field :password, autocomplete: "current-password", class: "input is-medium" %></p>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field is-grouped">
        <%= f.check_box :remember_me, class: "checkbox" %>
        <%= f.label :remember_me, class: "checkbox" %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", class: "button is-primary" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
