<% posts.each do |post| %>
  <article class="media box">
    <div class="media-left">
      <img class="image is-64x64" src="<%= post.user.profile_picture_url %>" />
    </div>
    <div class="media-content">
      <p class="title is-5"><a href="<%= user_path(post.user)%>">@<%= post.user.name %></a></p>
      <p class="title"><%= post.title %></p>
      <p class="subtitle"><%= post.body %></p>
    </div>
  </article>
<% end %>
