<% posts.each do |post| %>
  <article class="media box">
    <div class="media-left">
      <img class="image is-64x64" src="<%= post.user.profile_picture_url %>" />
    </div>
    <div class="media-content">
      <p class="title is-5 mb-1"><a href="<%= user_path(post.user)%>">@<%= post.user.name %></a></p>
      <p class="title mb-2"><%= post.title %></p>
      <% if post.body.length > 250 %>
        <%= simple_format post.body[..250] + "... " +
          tag.a("See all", href: post_path(post)),
          class: "subtitle"
        %>
      <% else %>
        <%= simple_format post.body, class: "subtitle" %>
      <% end %>

      <p>
        Likes: <%= post.likes.count %>,
        Comments: <%= post.comments.count %>
      </p>

      <div class="container mt-0 is-flex">
        <div data-controller="button-switch" data-button-switch-active-value="<%= post.liked_by?(current_user) %>">
          <%= button_to "Like",
            likes_path(user_id: current_user.id, likeable_id: post.id, likeable_type: post.model_name),
            method: :create,
            class: "button is-small mt-1",
            data: { button_switch_target: "activateBtn", action: "button-switch#activate" }
          %>
          <%= button_to "Like",
            likes_path(user_id: current_user.id, likeable_id: post.id, likeable_type: post.model_name),
            method: :delete,
            class: "button is-small mt-1 is-success is-outlined",
            data: { button_switch_target: "deactivateBtn", action: "button-switch#deactivate" }
          %>
        </div>

        <%= button_tag "Comment", class: "button is-small mt-1" %>

        <%= button_tag "Share link",
          class: "button is-small mt-1",
          data: {
              controller: "clipboard",
              action: "clipboard#copyText",
              clipboard_text_value: post_url(post)
          } %>
      </div>
    </div>
  </article>
<% end %>
